html,
body,
.clearfix,
.sidebar {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.img-stack {
    position: relative;
    height: 156px;
}

.profile-back {
    position: absolute;
    width: 250px;
}

.profile {
    position: absolute;
    width: 75px;
    left: 87.5px;
    top: 20px;
}

.logout {
    position: absolute;
    bottom: 0px;
    background-image: -webkit-linear-gradient(left, color-stop(#e74c3c 5px), color-stop(#ccc 5px));
    background-image: linear-gradient(to right, #e74c3c 5px, #222 5px);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);
}

.active {
    color: white;
    background-image: -webkit-linear-gradient(left, color-stop(#2ecc71 5px), color-stop(#ccc 5px));
    background-image: linear-gradient(to right, #2ecc71 5px, #222 5px);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);
}

.sidebar-active {
    color: white;
}